#                  FOR LOOP

In [42]:
# there is list 
names =["anjana","ranju","anju","kaju"]
for name in names:
    print(name)

anjana
ranju
anju
kaju

In [6]:
for i in range(1,11):
    print(3 , "X" , i ," = " ,3*i )

3 X 1  =  3
3 X 2  =  6
3 X 3  =  9
3 X 4  =  12
3 X 5  =  15
3 X 6  =  18
3 X 7  =  21
3 X 8  =  24
3 X 9  =  27
3 X 10  =  30

In [3]:
#  it is also list .
names = ["anjana"]
for name in names :
    print(name)

anjana

In [4]:
#  there is string .
names= "anjana"
for letter in names :
    print(letter)

a
n
j
a
n
a

In [5]:
names =["anjana","ranju","anju","kaju"]
for name in names:
    print(name)
    if name=="anju":
        print("hi it's me anjana")

anjana
ranju
anju
hi it's me anjana
kaju

In [15]:
list1 = [ 2,3,5,4]
for number in list1 :
    square = number**2
    print(square)

4
9
25
16

In [16]:
list1 = [ 2,3,5,4]
square_list1 = []

for number in list1 :
    square = number**2
    square_list1.append(square)
    print(square_list1)

[4]
[4, 9]
[4, 9, 25]
[4, 9, 25, 16]

In [18]:
list1 = [ 2,3,5,4]
square_list1 = []

for number in list1 :
    square = number**2
    square_list1.append(square)
print(square_list1)

[4, 9, 25, 16]

FOR ELSE

In [32]:
number = [23,"anjana",-1,0]

for i in number:
    print(i)
else :
    print(" work is done")
    
# In loop case , else condition will print only after succesfully printing of if condition.

23
anjana
-1
0
 work is done

In [52]:
tuple1 = (2,56,34,3.5,-1)
for i in tuple1:
    if i%6==0:
        print(i , "divisible by 6")
        break
    else:
        print(i ,"not divisible by 6")
        
# here break staatement is never touched becoz i%6 is never true .

2 not divisible by 6
56 not divisible by 6
34 not divisible by 6
3.5 not divisible by 6
-1 not divisible by 6

In [54]:
tuple1 = (2,56,34,3.5,-1)
for i in tuple1:
    if i%6==0:
        print(i , "divisible by 6")
        break
else:
    print("not divisible by 6")

not divisible by 6

In [75]:
#  want to store user given data into list 
heights = input("enter classmates height , seperated by space  : ")

# split() is the function we have to use for conversion .
height_list = heights.split()
print(height_list)

# imp point all the height in the list (height_list)  are str not int.....for conversion we have to use for loop with range .
# As there is user input so range starting index no. will be 0 and for last index no. we need to another variable .eg count=0 .

enter classmates height , seperated by space  : 23 43 65 90 76 34 87
['23', '43', '65', '90', '76', '34', '87']

In [82]:
# program to calculate average height from a list of height .

height = input("enter height, seperated by a space  : ")

#  hint = use split function (use, to transfer  str (given by user) into list .)
#  then we need to convert str in list into into int by using index no. slicing .
# height_list will contain all the  input (height) given by user 
height_list = height.split()

# now covert height_list item from str into int .
# but fist need to find  length of  height_list for range which is starting from zero upto count (as theere is user input)

# this count at last will show  no. of height in list(length of list) .
count = 0
for height in height_list :
    count =count+1
print( "no. of height in list " , count)

# now convert str into int of height_list 

for height in range(0,count):
    height_list[ height ] = int(height_list[ height ] )
print(" this is my height_list " , height_list)
# it is giving list having HEIGHTS in int form .

# now find  average of height in height_list.
total = 0
for height in height_list :
    total= total+ height
    average = total/count
print("average of height in height_list is : " , average)

# average answer in whole number(include zero to +ve no. ...does not include decimal,fraction and -ve no.).
print(round(average))

enter height, seperated by a space  : 23 45 65 90 78
no. of height in list  5
 this is my height_list  [23, 45, 65, 90, 78]
average of height in height_list is :  60.2
60

In [90]:
# programme to find maximum no. from the list

number = input("enter number , seperated by space : ")
print("no. given by user : " , number )

# transfer int into list using split()
number_list = number.split()
print("number in list(in str form) " , number_list)

# now convert str(item) in list into int(item) using range .

count = 0
for number in number_list :
    count = count+1
print("total number in list is " , count)
# put range for actual conversion 
for number in range(0,count):
    number_list[number] = int(number_list[number])
print("number in list (in int form ) :  ",number_list)


# now find maximum no. in list 

maximum_number = number_list[0]  # (let assume this line , 0 = first no. of list . equation 1) 
for number in number_list:
    if number > maximum_number :
        maximum_number = number       #( a=b , c=b  result  a=c ..see equation 1 )
print(f"maximum number is {maximum_number}")

enter number , seperated by space : 45 65 78 99 87 67
no. given by user :  45 65 78 99 87 67
number in list(in str form)  ['45', '65', '78', '99', '87', '67']
total number in list is  6
number in list (in int form ) :   [45, 65, 78, 99, 87, 67]
maximum number is 99

In [106]:
#  calculate sum of even no. from 1 to 100 .including 1 and 100

sum_even_number = 0
for number in range(1,101):
    if number % 2 ==0 :
        sum_even_number += number
print("sum of even  no. between 1 to 101 is : " , sum_even_number )

sum of even  no. between 1 to 101 is :  2550

In [108]:
sum_even_number = 0
for number in range(2,101,2):
    sum_even_number += number
print("sum of even  no. between 1 to 101 is : " , sum_even_number )

sum of even  no. between 1 to 101 is :  2550

In [115]:
# even no. between 1 to 101

for number in range(1,101):
    if number % 2 ==0 :
        print(number, end =", ")

2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100,

In [8]:
# order of condition is imp here....

for number in range(1,101):
    if number % 3 ==0 and number % 5 ==0:
        print("fuzz buzz",end=" , ")
    elif number % 5 == 0:
        print("buzz",end=" , ")
    elif number % 3 ==0:
        print("fizz",end=" , ")
    else :
        print(number,end=" , ")

1 , 2 , fizz , 4 , buzz , fizz , 7 , 8 , fizz , buzz , 11 , fizz , 13 , 14 , fuzz buzz , 16 , 17 , fizz , 19 , buzz , fizz , 22 , 23 , fizz , buzz , 26 , fizz , 28 , 29 , fuzz buzz , 31 , 32 , fizz , 34 , buzz , fizz , 37 , 38 , fizz , buzz , 41 , fizz , 43 , 44 , fuzz buzz , 46 , 47 , fizz , 49 , buzz , fizz , 52 , 53 , fizz , buzz , 56 , fizz , 58 , 59 , fuzz buzz , 61 , 62 , fizz , 64 , buzz , fizz , 67 , 68 , fizz , buzz , 71 , fizz , 73 , 74 , fuzz buzz , 76 , 77 , fizz , 79 , buzz , fizz , 82 , 83 , fizz , buzz , 86 , fizz , 88 , 89 , fuzz buzz , 91 , 92 , fizz , 94 , buzz , fizz , 97 , 98 , fizz , buzz ,

In [ ]:
# generate passward

BREAK

In [38]:
number = [23,"anjana",-1,0]

for i in number:
    print(i)
    if i=="anjana":
        break
else :
    print(" work is done")
    
# break stop loop at a given item ...and after completion of if ...else statement start...

23
anjana

In [43]:
list1 = [ 2,3,5,4]
square_list1 = []

for number in list1 :
    square = number**2
    
    if square == 25 :
        break
    
    square_list1.append(square)

print(square_list1)

[4, 9]

In [46]:
list1 = [ 2,3,5,4]
square_list1 = []

for number in list1 :
    if number % 5 ==0 :
        break
    
    square = number**2
    square_list1.append(square)

print(square_list1)

[4, 9]