#    LIST

LIST , TUPLE , SETS AND DICTIONARY = COLLECTIVE DATA TYPE

In [7]:
number = [1,7,"anjana",3.4, True , False, 9.4]

print(number)

[1, 7, 'anjana', 3.4, True, False, 9.4]

In [8]:
# slicing

print(number[0])

1

In [9]:
print(number[1])

7

In [10]:
print(number[-1])

9.4

In [12]:
print(number[2])

anjana

In [13]:
print(len(number))

7

In [15]:
print(number[0 :5])

[1, 7, 'anjana', 3.4, True]

In [16]:
print(number[ : :])

[1, 7, 'anjana', 3.4, True, False, 9.4]

In [23]:
print(number[:])

[1, 7, 'anjana', 3.4, True, False, 9.4]

In [20]:
print(number[ : 7 :2])

[1, 'anjana', True, 9.4]

In [21]:
print(number[7: : -2])

[9.4, True, 'anjana', 1]

In [22]:
print(number[ : : -1])

[9.4, False, True, 3.4, 'anjana', 7, 1]

In [35]:
list1 =[4 ,-1, 35 , 4 , 4.5 , True , 3.5]

list1.sort()
print(list1)

[-1, True, 3.5, 4, 4, 4.5, 35]

In [36]:
list1 =[4 ,-1, 35 , 4 , 4.5 , True , 3.5 ,"anjana" ]

list1.sort()
print(list1)
#  stort mean arrangeing in < order......
# sort does not support str with int...but support bullion (true)....

TypeError: '<' not supported between instances of 'str' and 'int'

In [37]:
list1 =[4 ,-1, 35 , 4 , 4.5 , True , 3.5 ,"anjana" ]

list1.reverse()
print(list1)

['anjana', 3.5, True, 4.5, 4, 35, -1, 4]

In [45]:
b= [ 23,54,65,"anjana"]

# append add in list at last..
b.append(34)
print(b)

[23, 54, 65, 'anjana', 34]

In [48]:
c= [34,65,"anjana"]

# insert add in list at a selected position..
c.insert(2,55)
print(c)

[34, 65, 55, 'anjana']

In [51]:
# add more then one item ....

c.extend( [35,85,"sanjana"] )
print(c)

[34, 65, 55, 'anjana', 35, 85, 'sanjana']

In [52]:
print(c)

[34, 65, 55, 'anjana', 35, 85, 'sanjana']

In [53]:
# change the data

c[3]= "manju"
print(c)

[34, 65, 55, 'manju', 35, 85, 'sanjana']

In [54]:
# want to change data from 0 to 2

c[0:2]=["jaipal" ,"vandana" ,"anjana"]
print(c)

['jaipal', 'vandana', 'anjana', 55, 'manju', 35, 85, 'sanjana']

In [57]:
#  want to remove item from data...

c.remove(55)
print(c)

['jaipal', 'vandana', 'anjana', 'manju', 35, 85, 'sanjana']

In [61]:
#  to remove last element by default..

a= [65,48,"anjana",54.3]
a.pop()
print(a)

[65, 48, 'anjana']

In [62]:
# remove specific item.....

a.pop(2)
print(a)

[65, 48]

In [69]:
listok = [2,4,34,"anjana"]

print(len(listok))

4

In [70]:
print(listok[-2])

34

In [71]:
print(listok[2])

34

In [75]:
print(f"hi,{ listok [-1] } ")

hi,anjana

# Nested list

In [76]:
number =[1,23,65,23,8.9 , "anjana", True , [23,76,45,"jaipal"],5.6]

len(number)

9

In [77]:
print(number[-2])

[23, 76, 45, 'jaipal']

In [78]:
print(number[5])

anjana

In [79]:
print(number[8])

5.6

In [82]:
hello = [4,32,"anjana",["raju", "helocfdnv" ,545,["jaipal", "manju"] , "nfjrng" ,"sanju "],3456, "duigdfuir" , "ok" ,["zoya"]]

hello[3][3][-1]

'manju'

In [83]:
hello[3]

['raju', 'helocfdnv', 545, ['jaipal', 'manju'], 'nfjrng', 'sanju ']

In [84]:
hello[-1]

['zoya']

In [85]:
hello[-4]

3456

In [86]:
print(len(hello))

8

In [87]:
hello[3][-1]

'sanju '

In [88]:
hello[3][2:5]

[545, ['jaipal', 'manju'], 'nfjrng']

In [91]:
#  matrix from list

row1 =[1,1,1]
row2 =[2,2,2]
row3 =[3,3,3]

print(f"{row1}\n{row2}\n{row3}")

[1, 1, 1]
[2, 2, 2]
[3, 3, 3]

In [9]:
#  now user want to hide its money in matrix ...

row1 =[1,1,1]
row2 =[2,2,2]
row3 =[3,3,3]

matrix = [row1,row2,row3]
print(f"{row1}\n{row2}\n{row3}")

position = input("enter the position user want to hide it money  : ")

# here 3 represent row no. and 2 represent column ...

# now covert str (32) into int..so that we can use index no. becoz during puting position there is no int ....
row_number = int(position[0])
column_number = int(position[1])

row_selected =matrix [row_number-1]
row_selected[column_number-1] = "X"

print(f"{row1}\n{row2}\n{row3}")

[1, 1, 1]
[2, 2, 2]
[3, 3, 3]
enter the position user want to hide it money  : 32
[1, 1, 1]
[2, 2, 2]
[3, 'X', 3]

 rock paper scissor 
 
 rock win aganist scissor 
 scissor win aganist paper
 paper wins aganist rock 
 
 0 for rock 
 1 for paper
 2 for scissor 
 
 user(0,1,2)           computer(0,1,2)
    0                      0            draw
    0                      1            computer win
    0                      2            user win         (exception need seperate condition )
    1                      0            user win
    1                      1            draw
    1                      2            computer win
    2                      0            computer win     (expection need seperate condition)
    2                      1            user win
    2                      2            draw
    
order of putting condition is imp ....

HINT = whoever putting bigger no. is winning ....
       use import random module for computer side .....
       
       radint(0,2) with every run computer will give no. between 0,1,2 ....every time different no.

In [2]:
#  rock paper scissor

import random

user  = [ "rock" , "paper" ,"scissor"]

user = int(input(" chose rock , paper , scissor (from list(user) using index no.) :  ") )
    

computer = random.randint(0,2) 
print("computer : ")
print(computer)

# now put condition
if computer == user:
    print("draw")
    
#  these two condition are expection (preference)
elif user ==0 and computer == 2:
    print("you win")
elif user ==2 and computer == 0 :
    print("you loss")    

elif computer >user :
    print("you loss")
elif user>computer :
    print("you win")

 chose rock , paper , scissor (from list(user) using index no.) :  0
computer :
2
you win

In [7]:
list3 = [1,23,65,23,8.9 , "anjana", True , [23,76,45,"jaipal"],5.6]
print(type(list3))

<class 'list'>

  TUPLE

In [6]:
a = (34,54,"anjana" ,4.5 , True , False , -34)
b= ("anjana" , "jaipal" ,"snjana")

c= (14 , )
#  comma after int or any item in tuple is imp  to racognise it as tuple .

d =(14 )
#  no comma ...mean it will be recognise as int

print(type(c))
print(type(d))
print(type(a))
print(type(b))

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [19]:
tuplex = a+b+c
print(tuplex)

(34, 54, 'anjana', 4.5, True, False, -34, 'anjana', 'anjana', 'jaipal', 'snjana', 14)

In [20]:
# tuple add with only tuple .

tuples = a+d
print(tuples)

TypeError: can only concatenate tuple (not "int") to tuple

In [13]:
a = (34,54,"anjana" ,4.5 , True , False , -34, "anjana")
print(a[2])
print(a[1])

anjana
54

In [12]:
#  tuple are immutable unlike list

a[1] = "anj"

TypeError: 'tuple' object does not support item assignment

In [14]:
a[2:5]

('anjana', 4.5, True)

In [15]:
a[: : 2]

(34, 'anjana', True, -34)

Nested tuple

In [25]:
tuple1 = (23 , 54,"anjana" ,("sanjana" , 34,54) ,"jaipal" ,54 , "anjana","manju" ,23.5 )

tuple1[3][0]

'sanjana'

In [26]:
print(len(tuple1))

9

In [28]:
# count function in tuple 

print(tuple1.count(54))
print(tuple1.count("anjana"))

2
2

In [33]:
# conversion of list into tuple.
list =[12,54,"anjana"]
print(tuple(list))

(12, 54, 'anjana')

In [36]:
#  finding of index no. in tuple 

tuple1 = (23 , 54,"anjana" ,("sanjana" , 34,54) ,"jaipal" ,54 , "anjana","manju" ,23.5 )
print(tuple1.index("anjana"))
# but it will give index no. of very first no.

2

In [37]:
tuple45 = (12,) *5
print(tuple45)

(12, 12, 12, 12, 12)

SETS

Duplicate items are not allowed in sets , like list and tuple
Order is not define in sets  (sequence is not define i.e  can't use index no. ) .
indexing is not allowed.
mutation is not allowed.
sets contain unique element .

In [45]:
set1 ={1,34,"anjana", True , False , 7.8, -34 ,"sanjana"}
print(type(set1))

<class 'set'>

In [53]:
set2 ={}
type(set2)

dict

In [54]:
# to creat empty set
set3 =set()
type(set3)

set

In [48]:
print(set1)

#  True is not show in result because in mathematic true mean 1 ....as repetition is not allowed.
# false mean 0 (zero)

{False, 1, 34, 'sanjana', 7.8, 'anjana', -34}

In [57]:
# we can add item one by one in set...
set1.add("vandana")
set1

{-34, 1, 34, 7.8, False, 'anjana', 'sanjana', 'vandana'}

In [58]:
print(len(set1))

8

In [60]:
set1.discard(1)
set1

{-34, 34, 7.8, False, 'anjana', 'sanjana', 'vandana'}

In [61]:
# pop will remove any random item from set amnd it will remove item with every run..
set1.pop()
set1

{-34, 34, 7.8, 'anjana', 'sanjana', 'vandana'}

In [62]:
# want to add tuple in set 
# tuple can be add because tuple is immutable like sets.
#  we can add string , tuple, bullion ,float ....or any immutable data.
set1.add((13,43,65))
set1

{(13, 43, 65), -34, 34, 7.8, 'anjana', 'sanjana', 'vandana'}

In [64]:
set1.add(True)
set1

{(13, 43, 65), -34, 34, 7.8, True, 'anjana', 'sanjana', 'vandana'}

In [66]:
set1.add("manju")
set1

{(13, 43, 65), -34, 34, 7.8, True, 'anjana', 'manju', 'sanjana', 'vandana'}

In [63]:
# list can not be added to the set beacause it is mutable.

set1.add([13,43,65])
set1

TypeError: unhashable type: 'list'

OPERATION ON SETS

UNION OF SETS

In [69]:
# union (all) of sets
set1= {1,"anjana",3,4,5,6}
set2 = {5,6,8,4,9,10,"anjana"}

set1.union(set2)
print(set1.union(set2))
# no repetition

# in .union method we can add tuple ,list or any itemm to set for union .

{1, 3, 4, 5, 6, 8, 9, 10, 'anjana'}

In [84]:
print(set1.union((23,"manju")))

#  addintion of tuple in set1

{'sanjana', 3, 4, 5, 6, 23, 'manju'}

In [83]:
print(set1.union([23,"manju"]))

#  addintion of list in set1

{'sanjana', 3, 4, 5, 6, 23, 'manju'}

In [80]:
print(set1.union(set2,set3))

{65, 'sanjana', 3, 4, 5, 6, 34, 8, 'jaipal'}

In [73]:
set3 = {"jaipal", 34 , 65}
print(set1 | set2 | set3 )
# another way of doing union 

# in this method we con not add tuple or any thing in set ....only sets can be added to the sets

{65, 'sanjana', 3, 4, 5, 6, 34, 8, 'jaipal'}

In [78]:
set45 = {"anjana","sanjana","vandana"}
set54 = {"manju","jaipal","anjana"}

set45.update(set54)
print(set45)

{'sanjana', 'jaipal', 'vandana', 'anjana', 'manju'}

In [89]:
set45 | set54

{'anjana', 'hello', 'jaipal', 'manju', 'sanjana', 'vandana'}

In [85]:
set45.update(["hello"])
print(set45)
# updating by adding list...we can also add tuple or any item...

{'sanjana', 'jaipal', 'hello', 'vandana', 'anjana', 'manju'}

INTERSECTION OF SETS

In [91]:
# intersection (common) of sets
set1= {3,4,5,6,"sanjana"}
set2 = {5,6,8,4,"sanjana"}

print(set1.intersection(set2))

{'sanjana', 4, 5, 6}

In [92]:
set1 & set2

{4, 5, 6, 'sanjana'}

In [94]:
set1.intersection(["anjana"])
print(set1)

{'sanjana', 3, 4, 5, 6}

DIFFERENCE OF SETS

In [98]:
set1 = {"anjana" ,"sanjana", 99 , 23 ,78}
set2 ={ "sanjana" , 45 , 23,78 }
set3 ={"manju" ,"jaipal" , 99 }

print(set1.difference(set2))
#  give item in set1 but not in set2 .

{99, 'anjana'}

In [99]:
print(set1 - set2)

{99, 'anjana'}

In [100]:
print(set1.difference(("anjana", 78 )))

{'sanjana', 99, 23}

In [101]:
print(set1.difference(set2,set3))

{99, 'anjana'}

In [105]:
set22 = {"anjana" ,"sanjana" ,"manju"}
set11 = {"anjana" ,"jaipal","vandana"}

print(set22.symmetric_difference( set11 ) )
#  In symmetric_difference result will show item except common in both .
#  in symmetric_difference only two sets are allowed so alternaetive method is operator = ^

{'sanjana', 'jaipal', 'manju', 'vandana'}

In [109]:
set33 = {"anju"}
print(set11^set22 ^set33)

{'sanjana', 'jaipal', 'manju', 'vandana', 'anju'}

DISJOINT SET

disjoint sets = if two sets intersection is null or empty {}, it is called disjoint set.

In [112]:
set1 ={1,34,"anjana"}
set2 ={55,"sanjana"}
set3 ={"sanjana"}

print(set1.isdisjoint(set2))
#  true show yes they are disjoint.

print(set2.isdisjoint(set3))

True
False

SUBSET

set2 is subset of set1 , if set1 contain all the element of set2 ,

SUPERSET = set1 is superset if it contaiin all the element of set2

In [113]:
print(set1.issubset(set2))

False

In [115]:
print(set3.issubset(set2))

# set3 = subset
#  set2 = superset

True

In [116]:
set3<=set2

True

superset = set having all element

In [117]:
print(set3.issuperset(set2))

False

In [118]:
set66 = {1,2,3,4,5}
set0 ={1,2}
set9={4,5}

print(set66.issuperset(set9))

True

In [121]:
set66>=set9

True

In [128]:
set100 = {2,4,6,"anjnaa"}
set100.clear()
print(set100)

#  clear will delete all the item from the sets (only items are delete , set is still there .)

set()

In [131]:
set101 = {2,4,6,"anjnaa"}
del set101
print(set101)
# it is showing set101 is not define becoz in line 2  we have delete set(item with set whole ...and print is in line 3 .)

NameError: name 'set101' is not defined

DICTIONARY

1- Ordered i.e position in dict is fixed ..
2- mutable ...key remain same but value can change..
3- we can add and remove from dict ..
4- duplicate key should not happen...only the last value will be considered

In [1]:
dict1 = { 'name' : 'anjana', "key" : "value" , "sanju" : 1234 }
dict1

{'name': 'anjana', 'key': 'value', 'sanju': 1234}

In [9]:
dict1 = { 'name' : 'anjana', "key" : "value" , "sanju" : 1234 , "name" : "manju"}
dict1

{'name': 'manju', 'key': 'value', 'sanju': 1234}

In [3]:
dict1 = {
    'name' : 'anjana', 
    "key" : "value" , 
    "sanju" : 1234 
}

dict1

{'name': 'anjana', 'key': 'value', 'sanju': 1234}

In [13]:
dict1["name"] = "jaipal"
print(dict1)

{'name': 'jaipal', 'key': 'value', 'sanju': 1234}

In [16]:
dict1["world"]= {1234 ,"beautiful"}
dict1

{'name': 'jaipal', 'key': 'value', 'sanju': 1234, 'world': {1234, 'beautiful'}}

In [18]:
dict1["name"] ={"jaipal" , "manju"}
dict1

{'name': {'jaipal', 'manju'},
 'key': 'value',
 'sanju': 1234,
 'world': {1234, 'beautiful'}}

In [21]:
data = {1: "anjana" , 2: "sanjan" , 3 : "vandana"}
print(data[1])

anjana

In [24]:
del data[1]
print(data)

{2: 'sanjan', 3: 'vandana'}

In [25]:
data.pop(2)
print(data)

{3: 'vandana'}

In [30]:
a={1:"anjana" ,2 : "sanjana" ,"name" : "jaipal"}
a.clear()
a

{}

In [33]:
 bob ={1:"anjana" ,2 : "sanjana" ,"name" : "jaipal"}
print(bob.keys())
bob

dict_keys([1, 2, 'name'])

{1: 'anjana', 2: 'sanjana', 'name': 'jaipal'}

In [37]:
print(bob.values())

dict_values(['anjana', 'sanjana', 'jaipal'])

In [39]:
print(bob.items())

# return dict with list ....and tuple ....key and value in tuple ...and all tuple in list ...

dict_items([(1, 'anjana'), (2, 'sanjana'), ('name', 'jaipal')])

In [40]:
for i in bob:
    print(i)
# only key will show...

1
2
name

In [42]:
for i in bob.items():
    print(i)

(1, 'anjana')
(2, 'sanjana')
('name', 'jaipal')

In [43]:
rate = bob.copy()
print(rate)

{1: 'anjana', 2: 'sanjana', 'name': 'jaipal'}

In [44]:
print(len(rate))

3

In [5]:
student_marks = {"jenney" : 92 , "harry" : 78 , "dimppy" : 56 , "rahul" : 41 ,"aniket" : 99 , "prem" : 34 }
student_grade = {}
# we have taken the empty dict....to put output/result...
# for loop in dict always take key..in dict...

for student in student_marks:       # jenney          
    marks = student_marks[student]        # 92
    if marks>90:
        student_grade[student] = "A+"
    elif marks>80:
        student_grade[student] = "A"
    elif marks>70:
        student_grade[student]= "B+"
    elif marks >60:
        student_grade[student]= "B"
    elif marks >50 :
        student_grade[student]= "C"
    elif marks >40:
        student_grade[student] = "D"
    else :
        student_grade[student] ="E"

print(student_grade)

{'jenney': 'A+', 'harry': 'B+', 'dimppy': 'C', 'rahul': 'D', 'aniket': 'A+', 'prem': 'E'}

NESTED DICTIONARY  AND LIST

In [6]:
x={
	"id": "0001",
	"type": "donut",
	"name": "Cake",
	"ppu": 0.55,
	"batters":
		{
			"batter":
				[
					{ "id": "1001", "type": "Regular" },
					{ "id": "1002", "type": "Chocolate" },
					{ "id": "1003", "type": "Blueberry" },
					{ "id": "1004", "type": "Devil's Food" }
				]
		},
	"topping":
		[
			{ "id": "5001", "type": "None" },
			{ "id": "5002", "type": "Glazed" },
			{ "id": "5005", "type": "Sugar" },
			{ "id": "5007", "type": "Powdered Sugar" },
			{ "id": "5006", "type": "Chocolate with Sprinkles" },
			{ "id": "5003", "type": "Chocolate" },
			{ "id": "5004", "type": "Maple" }
		]}

In [10]:
x

{'id': '0001',
 'type': 'donut',
 'name': 'Cake',
 'ppu': 0.55,
 'batters': {'batter': [{'id': '1001', 'type': 'Regular'},
   {'id': '1002', 'type': 'Chocolate'},
   {'id': '1003', 'type': 'Blueberry'},
   {'id': '1004', 'type': "Devil's Food"}]},
 'topping': [{'id': '5001', 'type': 'None'},
  {'id': '5002', 'type': 'Glazed'},
  {'id': '5005', 'type': 'Sugar'},
  {'id': '5007', 'type': 'Powdered Sugar'},
  {'id': '5006', 'type': 'Chocolate with Sprinkles'},
  {'id': '5003', 'type': 'Chocolate'},
  {'id': '5004', 'type': 'Maple'}]}

In [19]:
x["topping"][1]["type"]

'Glazed'

In [27]:
x["batters"]["batter"][3]["type"]

"Devil's Food"

In [28]:
x={
	"id": "0001",
	"type": "donut",
	"name": "Cake",
	"image":
		{
			"url": "images/0001.jpg",
			"width": 200,
			"height": 200
		},
	"thumbnail":
		{
			"url": "images/thumbnails/0001.jpg",
			"width": 32,
			"height": 32
		}
}

In [29]:
x

{'id': '0001',
 'type': 'donut',
 'name': 'Cake',
 'image': {'url': 'images/0001.jpg', 'width': 200, 'height': 200},
 'thumbnail': {'url': 'images/thumbnails/0001.jpg', 'width': 32, 'height': 32}}

In [32]:
x["image"]["height"]

200

In [ ]:
# add new dict in existing one ....nest dict in existing dict...

def