             Arithmetic operator

In [42]:
4/2

2.0

In [41]:
5/2

2.5

In [4]:
5//2

2

In [5]:
4//2

2

In [7]:
2*3

6

In [8]:
2**3

8

In [10]:
5+2*3

11

preference of arithmetic sign in operator

()
**
* / // %
+ -

                   ASSIGNMENT OPERATORS

In [11]:
a=5
a=a+3
a

8

In [12]:
# assignment operator
a=5
a+=3
a

8

In [15]:
a= 10
a/= 2
a

5.0

comparision operator

In [14]:
# < ,> ,= , <= , >= , == , !=

In [33]:
a,b,c= 3,5,4
print(a)
print(b)
print(c)

3
5
4

In [35]:
d= a+b

a+=2

c+=a

print(c)

9

In [38]:
a= 5

print(a==5)
print(a!=5)
print(a<6)
print(a>7)


print((a+1)>5)

True
False
True
False
True

              logical operators

In [39]:
#  and   for true both condition need to be correct 
#  or    if one condition is true than alsoo it is true 
#  not   it reverse the result

In [43]:
a,b = 2,4

print(a==2 and b==4)

True

In [45]:
a,b=  2, 4

print(a==2 and b==3)

False

In [46]:
a,b= 2,4 

print(a==2 or b==4)

True

In [47]:
a,b = 2,4

print(a==2 or b==3)

True

In [49]:
a= 5

print(a==5)

print(not ( a==5))

True
False

              bitwise operator

In [61]:
#  &  and 
#  |  or
#  ^  xor
#  ~  not(complinant)    inverse the bit 
# <<  left shift 
#  >>  right shift

In [55]:
a= 5
b= 6
print ( a & b)

4

In [56]:
print( a ^ b)

3

In [57]:
print(a|b)

7

In [60]:
print(~b)

-7

           identity operator

In [62]:
#  is 
#  is not

In [70]:
a= 5
b= 5

print(a is b)

#  true because memory address(id) is same(identity operator).


#  in this case value of a aand b is compare that is 5 ......(logical operator)
print(a==b)

True
True

In [67]:
id(a)

140709659972520

In [68]:
id(b)

140709659972520

In [82]:
print(  (id(a)) == (id(b)) )

True

In [81]:
c= "5"
d=   5

print(c is d)

#  operator(identity operator ) giving false because aadress(id) is different as one is string and one is integer .



#  is not  = reverse of is 
print(c is not d)



print(  (id(c)) == (id(d)) )

False
True
False

In [79]:
id(c)

140709660015968

In [80]:
id(d)

140709659972520

In [87]:
a= 5

a= 8


print(a is a)

True

the variable a is first assigned the value 5 , but then it is reassigned to the value 8 . therefore, the second assignment a =8 change the value that a refer to . 
The expression a is a checks  if a is the same object as a , which is always true because it is the same variable . however , the value of a has change from 5 to 8 .So, the output will be true because it is comparing the same object , even though the value has changed .

In [88]:
id(a)

140709659972616

                           Membership operator

In [90]:
#  in 
#  not in 

#  membership operator is used to check wheather a character in present in a string or a sequences .

In [96]:
a= " anjana"

print("j"  in a )

print("j" in "anjana")

True
True

In [97]:
b= "anjana"

print("A" in b)

False

In [101]:
c ="papa"

print("p" not in c)

print("p" in c)

False
True

In [104]:
l= [1,2,7,10]
print(10 in l )

print(10 not in l)

True
False

In [110]:
a= "anjana"

print("anj" in "anjana")

print("anj" in a)

print("anjana" in "anjana")

True
True
True

In [4]:
weight = float(input("enter weight in kg  : "))
height = float(input("enter height in meter : "))

bmi = weight / height**2

print("bmi is :  ", bmi)

enter weight in kg  : 20
enter height in meter : 59.3
bmi is :   0.00568748951369121

                round()  function

In [6]:
round(21.33456732, 2)

21.33

In [7]:
round(678.345,1)

678.3

In [9]:
round(6.7)

7

In [10]:
round(6.5)

6

In [15]:
round(6.4)

# possibility is of 6 or 7 ...preference will be given to the closest even no. to the 6.4

6

In [16]:
round(11.5)


# possibility is of 12 or 11 ...preference will be given to the closest even no. to the 11.5

12

In [17]:
round(12.5)

# possibility is of 12 or 11 ...preference will be given to the closest even no. to the 12.5

12

In [18]:
round(654,2)

654

In [19]:
round(632,-2)

#

600

In [20]:
round(632,-1)

630

In [21]:
round(678,-1)

680

In [22]:
round(678,-2)

700

In [24]:
round(665,-1)

660

In [25]:
round(675,-1)

680

In [28]:
round(34.53,1)

34.5

In [29]:
round(34.53,-1)

30.0

In [30]:
round(345.54,-1)

350.0

In [31]:
round(1212,-2)

1200

# f- strings

In [52]:
name= "anjana"
age = 20
height =1.6

print("My name is ", name , ",  I am ", age, "years old and my height is " , height , "meter .")


#  when we use + for concetination all should be in one data type either int or str ..if not then we need to convert .
print("My name is " + name , ",  I am " +str(age), "years old and my height is "  + str(height) , "meter .")


#  using f- string
print(f" My  name is {name}. I am {age} year old . My height is {height} meter ")


print(f" Anjana's father age is {age+30}")


print(f"anjana's another name is {name +' dehmiwal'}")

print(f"anjana's another name is {name =='anjana dehmiwal'}")

My name is  anjana ,  I am  20 years old and my height is  1.6 meter .
My name is anjana ,  I am 20 years old and my height is 1.6 meter .
 My  name is anjana. I am 20 year old . My height is 1.6 meter
 Anjana's father age is 50
anjana's another name is anjana dehmiwal
anjana's another name is False

In [60]:
a = int(input("enter your age : " ))

years = 90 -  a 
week_in_oneyear = 52
days_in_oneyear = 364
month_in_oneyear =12 


print(f" My age is {a} . I am left with {years} years or {years*week_in_oneyear} weeks or {years * month_in_oneyear } months or {years * days_in_oneyear} days ")

enter your age : 20
 My age is 20 . I am left with 70 years or 3640 weeks or 840 months or 25480 days